<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestLeafBootCamp" verbose ='5'>
<parameter name="URL" value="https://login.salesforce.com/"></parameter>
<parameter name="UserName" value="makaia@testleaf.com"></parameter>
<parameter name="Password" value="SelBootcamp@1234"></parameter>
  <test thread-count="5" name="Testing" parallel="methods">
  <classes>
            <class name="BC_TestCase.TestCase_05_CreateIndividual"/>
  </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
